[submodule "xrdc/utils"]
	path = xrdc/utils
	url = https://github.com/hoidn/utils.git
[submodule "siamese-net-and-friends"]
	path = siamese-net-and-friends
	url = https://github.com/hoidn/siamese-net-and-friends.git
[submodule "notebooks/hierarchical-clustering"]
	path = notebooks/hierarchical-clustering
	url = https://github.com/shubhamjha97/hierarchical-clustering.git
[submodule "notebooks/k-means"]
	path = notebooks/k-means
	url = https://github.com/gbroques/k-means.git
[submodule "notebooks/robust-pca"]
	path = notebooks/robust-pca
	url = https://github.com/dganguli/robust-pca.git
[submodule "xrdc/SLAC2020_SSRL-Internship"]
	path = xrdc/waferutils
	url = https://github.com/aoluwade/SLAC2020_SSRL-Internship.git
[submodule "xrdc/dataproc"]
	path = xrdc/dataproc
	url = git@github.com:hoidn/dataproc-1.git
