[submodule "xrdc/utils"]
	path = xrdc/utils
	url = https://github.com/hoidn/utils.git
[submodule "siamese-net-and-friends"]
	path = siamese-net-and-friends
	url = https://github.com/hoidn/siamese-net-and-friends.git
